{
  "baseURL": "{{ getenv "MGMT_API_URL" "http://localhost:8083/management" }}"
  "orgId": "{{ getenv "MGMT_ORGANIZATION" "DEFAULT" }}",
  "envId": "{{ getenv "MGMT_DEFAULT_ENVIRONMENT" "DEFAULT" }}"
}
